PORT=3000
API_HOST=localhost
NODE_ENV=development

DATABASE_URL=postgresql://postgres:root@localhost:5432/chat?schema=public

# MINIO
MINIO_ACCESS_KEY=XvxQXmzFlJVp52aeI3f5
MINIO_ENDPOINT=min.local
MINIO_PORT=9000
MINIO_SECRET_KEY=iC306kRMOJTQuAscrK85k6
MINIO_BUCKET=chat

# KEYCLOAK
KEYCLOAK_HOST='http://example:8080/auth'
KEYCLOAK_CLIENT_ID=
KEYCLOAK_REALM=
KEYCLOAK_CLIENT_SECRET=d967a79984fda

# prod
BOT_TOKEN=7423155688:AAEx6daasfO9DghMeNJZdhasd2bWZyoezn2d8lJB911qQasd